version: '3.8'

services:
  # PostgreSQL
  postgres:
    image: postgres:16-alpine
    container_name: omniseller-postgres
    environment:
      POSTGRES_DB: omniseller
      POSTGRES_USER: omniseller
      POSTGRES_PASSWORD: omniseller_dev_password
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - omniseller-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U omniseller" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # Redis
  redis:
    image: redis:7-alpine
    container_name: omniseller-redis
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    networks:
      - omniseller-network
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  redis_data:


networks:
  omniseller-network:
    driver: bridge
